*{
    margin: 0;
    box-sizing: border-box;
    background-color: white;
}

body{
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn{
    width: 150px;
    height: 30px;
    padding: 10px;
    border: 0px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}